<template>
  <div class="dashboard-container">
    <el-form>
      <repository-select></repository-select>
    </el-form>

    <component :is="currentRole" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import adminDashboard from './admin'
import editorDashboard from './editor'
import RepositorySelect from '@/components/RepositorySelect'

export default {
  name: 'Dashboard',
  components: { adminDashboard, editorDashboard, RepositorySelect },
  data() {
    return {
      currentRole: 'adminDashboard'
    }
  },
  computed: {
    ...mapGetters([
      'roles'
    ])
  },
  created() {
    if (!this.roles.includes('admin')) {
      this.currentRole = 'editorDashboard'
    }
  }
}
</script>
