<template>
    <el-autocomplete
        popper-class="repository-autocomplete"
        v-model="state"
        :fetch-suggestions="fetchRepositories"
        placeholder="superewald/vuepress-admin"
        @select="handleSelect">

        <template slot-scope="{ item }">
            <div class="slug">{{ item }}</div>
        </template>
    </el-autocomplete>
</template>

<script>

export default {
    data() {
        return {
            repostories: [],
            state: ''
        }
    },
    methods: {
        fetchRepositories(query, cb) {
            cb(['a', 'b'])
        }
    }
}
</script>
